root = "$ROOT"
thread=8
harbor = 0
--address="127.0.0.1:2526"
--master = "127.0.0.1:2013"
--snax = root.."examples/?.lua;"..root.."test/?.lua"
--daemon=nil

node_type="$node_type"
node_id="$node_id"
node="$node_type".."_".."$node_id"
start="main"
bootstrap = "snlua bootstrap"
standalone ="0.0.0.0:2013"

luaservice =root.."/service/?.lua;"..
            root.."/service/?/init.lua;"..
            root.."/service/"..node_type.."/?.lua;"..
            root.."/service/"..node_type.."/?/init.lua;"..
            root.."/service/base/?.lua;"..
            root.."/service/base/?/init.lua;"..
            root.."/skynet/service/?.lua;"..
            root.."/service/test/?.lua;"..
            root.."/service/test/?/init.lua;"

lualoader = root.."/skynet/lualib/loader.lua"

lua_path =  root.."/lualib/?.lua;".. 
            root.."/lualib/?/init.lua;"..
            root.."/skynet/lualib/?.lua;"..
            root.."/skynet/lualib/?/init.lua;"

lua_cpath = root.."/luaclib/?.so;".. 
            root.."/skynet/luaclib/?.so"

cpath =     root.."/cservice/?.so;"..
            root.."/skynet/cservice/?.so"

logpath    =root.."/logs"
logger=logpath.."/"..node..".log"
loggersize=1024*1024*50