root = "$ROOT"
thread=$opt_thread
logger="$opt_logger"
harbor = 0
--address="127.0.0.1:2526"
--master = "127.0.0.1:2013"
--snax = root.."examples/?.lua;"..root.."test/?.lua"
start="main"
bootstrap = "snlua bootstrap"	-- The service for bootstrap
standalone ="0.0.0.0:2013"
luaservice =root.."/service/?.lua;"..
            root.."/service/?/init.lua;"..
            root.."/service/base/?.lua;"..
            root.."/service/base/?/init.lua;"..
            root.."/skynet/service/?.lua;"..
            root.."/service/test/?.lua;"..
            root.."/service/test/?/init.lua;"

lualoader = root.."/skynet/lualib/loader.lua"

lua_path =  root.."/lualib/?.lua;".. 
            root.."/lualib/?/init.lua;"..
            root.."/skynet/lualib/?.lua;"..
            root.."/skynet/lualib/?/init.lua;"

lua_cpath = root.."/luaclib/?.so;".. 
            root.."/skynet/luaclib/?.so"

cpath =     root.."/cservice/?.so;"..
            root.."/skynet/cservice/?.so"




--daemon="$DAEMON"
--debugport="$opt_debugport"

--cfgpath = "$opt_cfgdir"


--thread=$opt_thread
--procuuid="$BOOTUUID"
--preload = root.."/lualib/debug/preload.lua"
--setting_host="$opt_setting"
--if daemon=="" then
	--daemon=nil
--end
--bootparams="$opt_params"
--node_type="$opt_nodetype"
--node_id=$opt_nodeid
--node="$opt_node"
--forcecenter="$opt_center"