include "base.config"

start="game/boot"	-- main script

--node_type="game"
--node_id=1
--node="game_1"

luaservice =luaservice..
            root.."/service/"..node_type.."/?.lua;"..
            root.."/service/"..node_type.."/?/init.lua;"

--logpath = root.."/logs/"..node..".log"
--logger="$opt_logger"
--loggersize=1024*1024*50